textarea {
    min-height: 400px;
}

.list-row:hover {
    box-shadow: 2px 2px 5px 1px lightgray;
}

.ts {
    font-size: small;
}

.list-row {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 5px;
    height: auto;
}

#emails-view .read {
    background-color: rgb(239, 248, 250);
}

#emails-view .view {
    background-color: rgb(239, 248, 250);
    font-weight: bold;
    height: auto;
    box-shadow: 2px 2px 5px 1px lightgray;
}

.view-details-row {
    background-color: rgb(239, 248, 250);
    font-weight: bold;
    padding: 3px;
    border: none;
}

#view-body {
    background-color: white;
    padding: 4px;
    height: 380px;
    color: black;
    border-style: none;
}

#view-options {
    padding: 3px;
}