textarea {
    min-height: 400px;
}

.email-box {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
    height: auto;
}

.email-box:hover {
    box-shadow: 2px 2px 5px 1px lightgray;
}

.read {
    background-color: rgb(230, 230, 230);
}

.new {
    background-color: white;
    font-weight: bold;
    height: auto;
}

.email-body {
    height: 300px;
    padding: 25px;
    background-color: white;
}