{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>ChiMail: {{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
    <div id="messages">
    </div>

    <div id="open-email" class="container" style="display: none;">
        <div class="row view-details-row">
            <div class="col-1"></div>
            <div class="col-10" id="view-recipients"></div>
        </div>
        <div class="row">
            <div class="col-12" id="view-body"></div>
        </div>
        <div class="row" id="view-options">
            <div class="col-4">
                <button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-reply"></i> Reply</button>
                <button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-archive"></i> Archive</button>
            </div>
            <div class="col-8"></div>            
        </div>
    </div>

    <div id="emails-view" class="container"></div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}